export(critVal.alpha)
export(critVal.power)
export(critVal.target)
export(gRxCluster)
export(gRxPlot)
export(gRxPlotClumps)
export(gRxSummary)
import(GenomicRanges)
import(IRanges)
useDynLib(geneRxCluster)
